header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  background-color: #1f1f1f;
  border-bottom: 1px solid #292929;
  transition: 0.5s ease-in-out;
}

header h2 {
  display: flex;
  align-items: center;
  background-color: transparent;

  .fa-angle-left {
    background-color: transparent;
    fill: #97edaa;
  }
}

header nav {
  background-color: transparent;
  display: flex;
  list-style: none;
  gap: 2rem;
}

header nav li {
  background-color: transparent;
  font-weight: 500;
  font-size: 1.2rem;

  a {
    background-color: transparent;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: #97edaa;
    }
  }
}
